@font-face {
   font-family: 'Archivo Black';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/OscarGmX/Documents/aanrd-main/fonts/Archivo Black/regular.ttf') format('truetype');
}
